{% extends "mail/base.html" %}

{% block body %}
<p>Hi {{ user.username }}! Please View Your  Weekly Task Schedule</p>
<div class="page-section">
  <!-- .section-block -->
     <table class="table">
       <tbody>
       <tr>
       {% for k in week_taskall.values() %}
       {% for t in k.values()%}
       <font size="4" color="black">{{t.day_week_nw}} {{t.day_week}} </font>
       <br>
        <font size="2" color="{{color_all[loop.index]}}">{{t.tk_project}}</font>
        <br>
        <font size="2" color="{{color_all[loop.index]}}">{{t.tk_start}}</font>
        <font size="2" color="{{color_all[loop.index]}}">{{t.tk_end}}</font>
        <br>
        <font size="1" color="{{color_all[loop.index]}}">{{t.tk_comment}}</font>
       <td>
       {%endfor%}
      </td>
     </tr>

     {% endfor %}
     </tbody>
   </table>
</div>
{% endblock %}
