{% extends "/users/basic_input.html" %}
{% block content %}
              <header class="page-title-bar">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                      <a href="{{url_for('employees.dashboard')}}">
                        <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Add Project</a>
                    </li>
                  </ol>
                </nav>
                <span><font size="6" >Create a project</font></span>
              </header>
              <!-- /.page-title-bar -->
              <!-- .page-section -->
              <div class="page-section">
                <div class="d-xl-none">
                  <button class="btn btn-danger btn-floated" type="button" data-toggle="sidebar">
                    <i class="fa fa-th-list"></i>
                  </button>
                </div>
                <!-- .card -->
                <section id="base-style" class="card">
                  <!-- .card-body -->
                  <div class="card-body">
                    <!-- .form -->
                    <form  method="POST" action="#">
                    {{ form.hidden_tag() }}  <!-- .fieldset -->
                    <div class="form-group">
                      <label for="project_add_tag">{{ form.project_add.label }}</label>
                      {{ form.project_add(class="form-control") }}
                      {% for error in form.project_add.errors %}
                      <span style="color:red;">[{{error}}]</span>
                      {% endfor %}
                    </div>
                    <div class="form-group">
                      <label for="job_add_tag">{{ form.job_add.label }}</label>
                      {{ form.job_add(class="form-control") }}
                      {% for error in form.job_add.errors %}
                      <span style="color:red;">[{{error}}]</span>
                      {% endfor %}
                    </div>
                    <div class="form-group">
                      <label for="project_add_tag">{{ form.allocate_project.label }}</label>
                      {{ form.allocate_project(class="form-control") }}
                      {% for error in form.allocate_project.errors %}
                      <span style="color:red;">[{{error}}]</span>
                      {% endfor %}
                    </div>
                    <div class="form-group">
                      <div>
                        <label for="myform">Select allowance</label>
                         <select id="myform" name='allowance_type' multiple class="form-control">
                           {%for allowance_init in allowance_all%}
                           <option> {{allowance_init.allowance_add}}</option>
                           {%endfor%}
                         </select>
                       </div>
                       <small class="text-muted">Select one or multiple only if allowance is allocated for a particular project </small>
                    </div>

                      <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>

                  </div>
        </div>
{% endblock %}
